<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="utf-8"/>
    <script th:src="@{/page/js/dashboard.js}"></script>
</head>
<body>

<th:block layout:fragment="content">
    <div class="content-body">
        <div class="container pd-x-0">
            <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Overview</li>
                        </ol>
                    </nav>
                    <h4 class="mg-b-0 tx-spacing--1">Welcome to QianDao University - EZTech</h4>
                </div>
                <div class="d-none d-md-flex">
                    <!--<button class="btn btn-sm btn-primary btn-uppercase pd-x-20">BTC</button>-->
                    <!--<button class="btn btn-sm btn-white btn-uppercase pd-x-20 mg-l-5">ETH</button>-->
                    <!--<button class="btn btn-sm btn-white btn-uppercase pd-x-20 mg-l-5">LTC</button>-->
                    <!--<button class="btn btn-sm btn-white btn-uppercase pd-x-20 mg-l-5">BTG</button>-->
                    <!--<button class="btn btn-sm btn-icon btn-white btn-uppercase mg-l-5"><i data-feather="more-vertical"></i></button>-->
                </div>
            </div>

            <div class="row row-xs">
                <div class="col-12">
                    <div class="card card-body">
                        <div class="d-md-flex align-items-center justify-content-between">
                            <div class="media align-sm-items-center">
                                <div class="tx-40 tx-lg-60 lh-0 tx-orange"><i class="fab fa-chalkboard"></i></div>
                                <div class="media-body mg-l-15">
                                    <h6 class="tx-12 tx-lg-14 tx-semibold tx-uppercase tx-spacing-1 mg-b-5">QingDao University <span class="tx-normal tx-color-03">ShanDong China</span></h6>
                                    <div class="d-flex align-items-baseline">
                                        <h2 class="tx-20 tx-lg-28 tx-normal tx-rubik tx-spacing--2 lh-2 mg-b-0" th:text="${projectCnt + ' Project'}">n projects</h2>
                                        <!--<h6 class="tx-11 tx-lg-16 tx-normal tx-rubik tx-danger mg-l-5 lh-2 mg-b-0">-$7.98(0.2006%)</h6>-->
                                    </div>
                                </div><!-- media-body -->
                            </div><!-- media -->
                            <div class="d-flex flex-column flex-sm-row mg-t-20 mg-md-t-0">
                                <button data-toggle="modal" data-target="#newProjectModal" class="btn btn-sm btn-white btn-uppercase pd-x-15" id="btnNewProject"><i data-feather="sidebar" class=""></i> Create Project</button>
                            </div>
                        </div>
                    </div>
                </div><!-- col -->

                <div class="col-md-12 col-xl-12 mg-t-12 mt-1">
                    <div class="card ht-100p">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h6 class="mg-b-0">My Projects</h6>
                            <div class="d-flex tx-18">
                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush tx-13" id="myProjectList">
                            <li th:each="project : ${projectList}" class="list-group-item d-flex pd-sm-x-20 projectList">
                                <div class="avatar d-none d-sm-block"><span class="avatar-initial rounded-circle bg-teal"><i class="icon ion-md-checkmark"></i></span></div>
                                <div class="pd-sm-l-10">
                                    <p class="tx-medium mg-b-0" th:text="${project.name}">Project name</p>
                                    <small class="tx-12 tx-color-03 mg-b-0" th:text="${'Due Date: ' + project.deadline}">Project deadline</small>
                                </div>
                                <div class="mg-l-auto text-right">
                                    <p class="tx-medium mg-b-0">Students: -</p>
                                    <small class="tx-12 tx-danger mg-b-0" th:text="${'Current Step: ' + project.currentStage}">Current stage</small>
                                </div>
                                <div class="mg-l-20-f d-flex align-self-center">
                                    <nav class="nav nav-icon-only">
                                        <!--<a href="" class="nav-link d-none d-sm-block"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></a>-->
                                        <a href="" class="text-danger nav-link d-none d-sm-block"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-slash"><circle cx="12" cy="12" r="10"></circle><line x1="4.93" y1="4.93" x2="19.07" y2="19.07"></line></svg></a>
                                        <a href="" class="text-primary nav-link d-none d-sm-block"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></a>
                                        <!--<a href="" class="nav-link d-sm-none"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg></a>-->
                                    </nav>
                                </div>
                            </li>
                        </ul>
                        <div class="card-footer text-center tx-13">
                            <a href="" class="link-03">View All Transactions <i class="icon ion-md-arrow-down mg-l-5"></i></a>
                        </div><!-- card-footer -->
                    </div><!-- card -->
                </div>

                <div class="col-md-6 mg-t-10 mt-1">
                    <div class="card">
                        <div class="card-header pd-b-0 pd-x-20 bd-b-0">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <h6 class="mg-b-0">Recent Activities</h6>
                                <p class="tx-12 tx-color-03 mg-b-0"></p>
                            </div>
                        </div><!-- card-header -->
                        <div class="card-body pd-20">
                            <ul class="activity tx-13">
                                <li th:each="activity : ${activities}" class="activity-item">
                                    <div class="activity-icon bg-primary-light tx-primary">
                                        <i data-feather="clock"></i>
                                    </div>
                                    <div class="activity-body">
                                        <p class="mg-b-2" th:text="${activity.action}">Activity</p>
                                        <small class="tx-color-03" th:text="${activity.actionTime}">now</small>
                                    </div><!-- activity-body -->
                                </li><!-- activity-item -->
                            </ul><!-- activity -->
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="fmNewProject" method="post" th:action="@{/startproject}">
                        <div class="form-group">
                            <label for="projectName" class="col-form-label">Project name:</label>
                            <input type="text" class="form-control" id="projectName" name="projectName">
                        </div>
                        <div class="form-group">
                            <label for="projectDueDate" class="col-form-label">Project deadline:</label>
                            <input type="date" class="form-control" id="projectDueDate" name="projectDueDate">
                        </div>
                        <div class="form-group">
                            <label for="projectDesc" class="col-form-label">Project description:</label>
                            <textarea class="form-control" id="projectDesc" name="projectDesc" rows="6"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="fmBtnNewProject">Create project</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>